$spacer: 1rem; // 16px
$spacers: (
  0: 0,
  1: $spacer,
  2: $spacer + 0.5rem,
  3: $spacer + 1rem,
  4: $spacer + 1.5rem,
  5: 52px,
  6: 86px,
);

// Setting default font
$font-weight-base: 400;
// $font-family-base: Helvetica, system-ui, Roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif;
