// Setting default spacing
$spacer: 1rem; // 16px
$spacers: (
  0: 0,
  1: $spacer,
  2: $spacer + 0.5rem,
  3: $spacer + 1rem,
  4: $spacer + 1.5rem,
  5: 52px,
  6: 86px,
  7: $spacer * 12,
);

// Setting default font
$font-weight-base: 400;
$font-family-base: Helvetica, system-ui, Roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif;

// ff i want costumize with map
@import "../../node_modules/bootstrap/scss/functions";
@import "../../node_modules/bootstrap/scss/variables";

$custom-theme-colors: (
  "aqua": #6eafba,
);

// adding new default colors, can use like bg-aqua
$theme-colors: map-merge($custom-theme-colors, $theme-colors);

// Get resources from bootstrap
@import "../../node_modules/bootstrap/scss/bootstrap";

// My css
.my-logo {
  background-color: #0d28a6;
  width: 100px;
  height: 34px;
}

.btn-success {
  background-color: #5cb85f;
}

nav {
  background-color: #f1f3ff;
}

#home {
  background-color: #f1f3ff;
  margin-bottom: 50px;

  .left {
    p {
      padding-right: 8rem;
    }
  }
}

#our-services {
  padding: 50px 0px;
}

#why-us {
  padding: 50px 0px;

  .card {
    width: 18rem;
  }
  img {
    width: 32px;
    height: 32px;
  }
}

#testimonial {
  padding: 50px 0px;

  .profile {
    width: 70px;
    height: 80px;
  }
  .carousel {
    background-color: #f1f3ff;
    width: 832px;
    height: 270px;
    // padding: 0px 150px;
    .c-px {
      margin-top: 8px;
    }
  }
  .carousel-item {
    padding: 0px 150px;
  }
  .carousel-control-next-icon {
    width: 56.77px;
    height: 68px;
    background-image: url(../../public/assets/fi_chevron-right.svg);
  }
  .carousel-control-prev-icon {
    width: 56.77px;
    height: 68px;
    background-image: url(../../public/assets/fi_chevron-left.svg);
  }
  .star-logo {
    img {
      width: 81px;
      height: 16px;
    }
  }
}

#book-now {
  padding-top: 106px;
  padding-bottom: 50px;

  .content {
    background-color: #0d28a6;
    padding-top: 64px;
    padding-bottom: 64px;
  }
}

#FAQ {
  padding: 50px 0px;

  .accordion {
    --bs-accordion-border-color: #d4d4d4;
    --bs-accordion-active-bg: transparent;
    --bs-accordion-btn-focus-box-shadow: none;
  }
}

footer {
  padding-top: 100px;
  padding-bottom: 50px;
  img {
    width: 224px;
    height: 32px;
  }
  a {
    color: black;
  }
  a:hover {
    color: #717175;
  }
}

// xl
@media only screen and (max-width: 1400px) {
  #home {
    .left {
      padding-left: 5%;
    }
  }
}

// Lg
@media only screen and (max-width: 992px) {
  #home {
    .left {
      p {
        padding-right: 1rem;
      }
    }
  }

  #testimonial {
    .carousel {
      width: 600px;
      height: 392px;
    }
    .carousel-item {
      padding: 0px 80px;
    }
  }

  footer {
    padding-top: 20px;
  }
}

// Md
@media only screen and (max-width: 768px) {
  .offcanvas {
    --bs-offcanvas-width: 180px;
  }

  #why-us {
    .card {
      width: 100%;
    }
  }

  #testimonial {
    .carousel {
      width: 328px;
      height: 392px;
    }
    .carousel-item {
      padding: 0px 45px;
    }
    .carousel-control-next {
      align-items: start;
      margin-top: 50px;
    }
    .carousel-control-prev {
      align-items: start;
      margin-top: 50px;
    }
  }
}

// Sm
@media only screen and (max-width: 576px) {
  #home {
    margin-bottom: 30px;
  }

  #our-services,
  #why-us,
  #testimonial,
  #book-now,
  #FAQ,
  footer {
    padding: 30px 0px;
  }
}

@media only screen and (max-width: 350px) {
  #testimonial {
    .carousel {
      width: 240px;
      height: 450px;
    }
    .carousel-item {
      padding: 0px 25px;
    }
  }
}
